@import url(variables.less);

// form

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  padding: 10px;
}

.formInpudContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
}

.formInputWrapper {
  display: flex;
  flex-direction: column;
}